.form {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 10000;
    transition: all .2s;

    &.show-form {
        visibility: visible;
        opacity: 1;
        transition: all .2s;
    }

    &__background {
        position: fixed;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: .5);
    }

    .close {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url('../img/close_icon.svg') no-repeat center center,
                    rgba(255, 255, 255, 0.1);
        transition: all .2s;

        &:hover {
            rotate: 90deg;
            transition: all .2s;
        }
    }

    &__content {
        position: fixed;
        inset: 50% auto auto 50%;
        translate: -50% -50%;
        display: flex;
        flex-direction: column;
        max-width: 570px;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 56px 48px;
        background: #222228;

        @include md-down {
            width: 98%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        h2 {
            font-weight: 700;
            font-size: 2.625rem;
            color: var(--font-white);
            margin-bottom: 16px;
        }

        p {
            color: rgba(255, 255, 255, 0.5);

            &:first-of-type {
                margin-bottom: 56px;
            }
        }

        :is(input[type=email], input[type=text], input[type=tel]) {
            border: none;
            outline: none;
            border-bottom: solid 1px rgba(255, 255, 255, 0.6);
            background: none;
            height: 38px;
            font-size: 1.375rem;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 40px;

            &::placeholder {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        input[type=tel] {
            margin-bottom: 56px;
        }

        input[type=submit] {
            cursor: pointer;
            outline: none;
            border: none;
            margin-bottom: 32px;
        }
    }

    .consent {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 14px;
        color: rgba(255, 255, 255, 0.5);

        input[type=checkbox] {
            width: 26px;
            height: 26px;
            position: relative;

            &::after {
                position: absolute;
                inset: 0;
                content: '';
                width: 26px;
                height: 26px;
                border-radius: 6px;
                background-color: #D1D1D1;
            }

            &:checked {
                &::after {
                    background-color: #FF0D6A;
                }
            }
        }

        label {
            margin-left: 10px;
        }
    }

    .form-error {
        display: none;
        color: var(--button);
    }
}